<div class="container">
    <div class="tabelaContainer">
        <table>
            <tr>
                <th>Órgão/Unidade Compradora</th>
                <th>Edital/Aviso</th>
                <th>Número do Pregão</th>
                <th>Lote/Item</th>
            </tr>
            
            <tr *ngFor="let pregao of editaisSistema" (click)="pregaoClicked(pregao)">
                <td>{{pregao.orgao}}</td>
                <td>{{pregao.chaveEdital}}</td>
                <td>{{pregao.numeroPregao}}</td>
                <td>{{pregao.lote}}</td>
            </tr>
            
        </table>
    </div>
</div>
