.container{
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.container .tabelaContainer{
    width: 90%;
    height: 100%;
    padding-top: 20px;
}

.container .tabelaContainer .tbTitulosContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tbColumn1{
    width: 15%;
    background-color: red;
}

.tbColumn2{
    width: 20%;
}

.tbColumn3{
    width: 65%;
    background-color: yellow;
}

.genTitleStyle{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: var(--fontColor);
    font-size: 0.8rem;
    background-color: var(--btnColor);
}

.container .tabelaContainer .tbRowsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}

.divCreatedRowsData{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:chocolate;
}