<div class="container">
    <div class="tabelaContainer">
        <div class="tbTitulosContainer">
            <div class="tbOrigem tbColumn1 genTitleStyle">
                <h2>Origem</h2>
            </div>
            <div class="tbDataHora tbColumn2 genTitleStyle">
                <h2>Data</h2>
            </div>
            <div class="tbConteudo tbColumn3 genTitleStyle">
                <h2>Mensagem</h2>
            </div>
        </div>
        <div class="tbRowsContainer" id="tableRowsContainer">
            
        </div>
        <button (click)="showMessages()">click</button>
    </div>
</div>
