<div class="container">
    <div class="sistemaContainer" *ngFor="let sistema of sistemasChat">
        <div class="nomeSistema item-sistema">{{sistema.nome}}</div>
        <div class="btnContainer">
            <ul>
                <li>
                    <button class="btnAcessContainer item-sistema" (click)="pregoesSystem(sistema)">Pregões</button>
                </li>
                <li>
                    <button class="btnCredencialContainer item-sistema" (click)="credenciaisSystem(sistema)">Credencial</button>
                </li>
                <li>
                    <button class="btnDeleteContainer item-sistema" (click)="deleteSistemaAction(sistema)">Deletar</button>
                </li>
            </ul>
        </div>
    </div>
</div>