.container{
    display: flex;
    width: 100vw;
    height: 100%;
}

.container .credenciaisContainer{
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;   
}

.container .inputElement{
    width: 250px;
    padding: 8px;
    margin-top: 10px;
    border: 1.5px solid var(--btnColor);
    border-radius: 5px;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
}

.container .credenciaisContainer .inputElement:first-child{
    margin-top: 30px;
}

.container .credenciaisContainer .btnAtualizar{
    width: 270px;
    background-color: var(--btnColor);
    border: 0;
}

.container .credenciaisContainer .btnAtualizar:hover{
    cursor: pointer;
    background-color: #e07a55;
}