:root{
    --backgroundColor: #001E40;
    --backgroundHoverColor: #02162c;
    --fontColor: #ffffff;
    --btnColor: #F26531;
    --btnHoverColor: #e98662;
    --inputHover: #dbdbdb;
    --btn1: #1E90FF;
    --btn2: #FF6347;
    --btn3: #3CB371;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: var(--backgroundColor);
    overflow-x: hidden;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 8px;
}
  
body::-webkit-scrollbar-track {
    background: transparent;
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--btnColor);
    border-radius: 20px;
    border: 0;
}