.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container .menuContainer{
    width: 100vw;
    height: 10%;
}

.container .barHeader{
    width: 90vw;
    height: 0.2%;
    background-color: var(--btnColor);
}

.container .sectionContainer{
    display: flex;
    width: 100vw;
    height: 89.8%;
}